<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <!-- Rolling file -->
        <RollingFile
                name="FileAppender"
                fileName="${LOG_PATH}/automation.log"
                filePattern="${LOG_PATH}/archive/app-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${PATTERN}"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Selenium internal logging -->
        <Logger name="org.openqa.selenium" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Your framework logs -->
        <Root level="DEBUG">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="FileAppender"/>
        </Root>

    </Loggers>

</Configuration>